#wrapper {
    margin: 20px auto;
    width: 1200px;
}

form {
    padding: 0 30px !important;
}

.user-profile {
    font-size: 13px;
}

.card {
    margin-bottom: 16px;
}

.card-body p:last-child {
    margin-bottom: 0;
}